@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rancho&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poiret One', cursive;
}

a{
    text-decoration: none;
    color: black;
    
}

body::-webkit-scrollbar{
    width:1.5rem;
    
}

body::-webkit-scrollbar-track{
    background: rgba(0, 0, 0, 0.432);
    border-radius: 40px;
    
}

body::-webkit-scrollbar-thumb{
    background: rgba(73, 13, 238, 0.637);
    border-radius: 30px;
}



:root{
    --white:rgb(0, 0, 0);
    --black:rgb(255, 255, 255);
    --yellow:rgb(0, 255, 191);
    
}



ul{
    list-style: none;
}


.container00{
    position: relative;
    width: 100%;
    height: 100vh;
    font-size: 2rem;
    font-weight: 950;
}



.navbar{
    position: absolute;
    top:0;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--blackT);
    font-size: 2.5vh;
    }

.logo{
    position: absolute;
    left:5vh;
    color:var(--white);
}

.icon {
    position: absolute;
    right: 5%;
    color:var(--white);
}

.navbar ul{
    position: absolute;
    left: 20%;
    display: flex; 
}

.navbar li{
    margin-left: 10vh;
}

.navbar li a{
    transition: 0.5s;
}
.navbar li a.active,
.navbar li a:hover{
    background: var(--yellow);
    padding: 1vh 2vh;
    border-radius: 30px;
    color: black;
}


.box-p{
    position: relative;
    top:55%;
    transform: translateY(-50%);
    width: 90%;
    margin: 0 auto;
    height: 70vh;
    
}

.box{
    position: absolute;
    right:3vh;
    height: 100%;
    width: 30%;
    background: rgba(255, 255, 255, 0.144);
    display: flex;
    flex-direction: column;
    font-weight: 1;
    font-size: 1.2rem;
    padding-left: 5vh;
    padding-top: 1.5vh;
}

.box span:nth-child(1){
    font-weight: 900;
    margin-bottom: 1vh; 
    font-size: 1.9rem;  
}

.box span:nth-child(2){
    margin-bottom: 5vh;  

}

.box span:nth-child(3){
    font-weight: 900;
    margin-bottom: 1vh; 
    font-size: 1.3rem; 
}

.list-color{
    display: flex;
}

.list-color li img{
    margin-top: 2vh;
    margin-right: 1vh;
    width:60px;
    height: 60px;
    border-radius: 50%;

}

.line{
    width: 80%;
    margin:0 auto;
    border:0.2px solid  rgba(92, 92, 92, 0.151);
    margin-top: 3vh;
    margin-bottom: 3vh;

}

.size-text{
        font-weight: 50;
        font-size: 1rem;  
}

.list-size{
    margin-top: 2vh;
    display: flex;
}



.list-size li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1vh;
    width:50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(196, 196, 196, 0.185);
    color: rgb(0, 0, 0);
    transition: 0.4s;
}

.list-size li:hover{
    background: rgba(0, 237, 245, 0.514);
    transform: translateY(-10px);
}

.btn a {
        text-decoration: none;
        color: white;
}

.btn:hover a{
    color: black;
    
}
.btn{

    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
    width: 80%;
    margin-top: 4vh;
    margin-left: 3vh;
    transition: 0.5s;
}

.btn:hover{
    background: rgba(0, 237, 245, 0.514);
}


.text{
    margin-top: 2.5vh;
    color: black;
}

.text div{
    margin-bottom: 2vh;
}

.text div i {
    margin-right: 2vh;
}


.bundle .image1{
    position: absolute;
    left: -0%;
    height: 100%;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: 1;
    font-size: 1.2rem;
    padding-left: 1vh;
}

.bundle .image2{
    position: absolute;
    height: 100%;
    left: 33%;
    width: 35%;
    display: flex;
    flex-direction: column;
    font-weight: 1;
    font-size: 1.2rem;
    padding-left: 4vh;
}

.bundle:before{
    content: '\f060';
    font-family: fontawesome;
    position: absolute;
    top:50%;
    left:-2.5vh;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.089);
    height: 7vh;
    width: 7vh;
    z-index: 99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(1, 131, 131);
}

.bundle:after{
    content: '\f061';
    font-family: fontawesome;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    right:30%;
    background: rgba(0, 0, 0, 0.089);
    height: 7vh;
    width: 7vh;
    z-index: 99;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(1, 131, 131);
}

.bundle:hover{
    background: chartreuse;
}


.bundle img:nth-child(1){
    object-fit: cover;
    height: 100%;
    width: 100%;

}























.container44{

    height: 60vh;
    display: flex;
    justify-content:center ;
    align-items: flex-start;

}

.container44 ul {
    display: flex;
    justify-content:center ;
    align-items: center;
  
}

.container44 ul li{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items: center;
    width:20% ;
    margin-left:10px;
    text-align: center;
   
}

.img44{
    width:32vh;
    overflow:hidden;
}

.container44 ul li img{
    width: 100%; 
    height: 100%;  
    transition: 1s;
}

.container44 ul li img:hover{
    transform: scale(1.5);
}

.container44 .title441{
    font-size: 2rem;
    font-weight: 900;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

.container44 .title442{
    font-size: 1rem;
    text-align: center;
    margin-left: 5vh;
    margin-right: 5vh;
}














.container55{
    position: relative;
    height: 20vh;
    width: 90%;
    margin: 0 auto;
    background: rgba(112, 111, 111, 0.048);
    display: flex;
}

.text55{
    position: absolute;
    right: 0;
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.icone55{
    position: absolute;
    left: 0;
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;

}

.icone55 ul{
    display: flex;
    gap: 5vh;

}

.icone55 img{
    margin-bottom: 1vh;
    transition: 0.5s;
}
.icone55 span{
    height: 5%;
    width: 5%;
    border-radius: 30px;
    padding: 0.3vh 0.6vh;
    border:1px solid grey;
    font-weight: 900;
    font-size: 1.2rem;
    
}

.icone55 img:hover{
    transform: scale(1.3);
    background: rgba(0, 255, 255, 0.185);
    border-radius: 30px;
}







.container66{
    height: 65vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card55{
    width: 90%;
    height: 90%;
    margin: 20px;
    position: relative;
}

.card55 img{
    position: absolute;
    width: 100%;
    height: auto;
    transition: 0.3s;
    border-radius: 30px;
}

.card55 img:hover{
    transform:scale(1.05);
    transform:translateY(-10px);
    box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.192);
}


.card55 p{
    position: relative;
    width: 50%;
    margin: auto;
    text-align: center;
    top:57vh;
    font-size:1.1rem;
    font-weight: 900;
}

.card55 span{
    position: relative;
    left:45%;
    text-align: center;
    top:59vh;
    font-size:1.1rem;
    font-weight: 900;
}

















footer{
    position: relative;
    margin-top: 10%;
    width: 100%;
    background: #cccccc;
    min-height: 50vh;
    padding:2vh 3vh;
    
   
}

footer a{
    color: white;
}

footer .wave{
    position: absolute;
    top:-100px;
    left:0;
    width: 100%;
    height: 100px;
    background:  url(/primg/wavewhite.png);
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animatewave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animatewave-02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animatewave 2.5s linear infinite;
}

footer .wave#wave4{
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animatewave-02 2.5s linear infinite;
}

@keyframes animatewave {
    0%
    {
        background-position-x: 1000px ;
    }
    100%
    {
        background-position-x: 0px ;
    }
}

@keyframes animatewave-02 {
    0%
    {
        background-position-x: 0px ;
    }
    100%
    {
        background-position-x: 1000px ;
    }
}





.content000{
    width: 80%;
    height: auto;
    margin-left: 10%;
    margin-top: 6%;
    font-family: 'Poiret One', cursive;
}

.footer-col000 ul li{
    list-style: none;
}

.row000{
    display: flex;
    flex-wrap: wrap;
    
}

.footer-col000{
    width: 25%;
    padding: 0 1%;
}

.footer-col000 h4{
    font-weight: bold;
    font-size: 1.4rem;
    color: rgb(41, 41, 41);
    margin-bottom: 15%;
    position: relative;
    letter-spacing: 2px;
}

.footer-col000 h4:before{
    content:'';
    position: absolute;
    bottom: -10px;
    width: 30%;
    height: 2px;
    background: rgb(255, 255, 255);

}

.footer-col000 li {
    margin-top: 5%;
}

.footer-col000 li a {
    text-decoration: none;
    color: rgb(41, 41, 41);
    text-transform: capitalize;
    display: block;
    transition: All 0.14s ease;
    font-size: 1.15rem;
}

.footer-col000 li a:hover{
    color: white;
    font-weight: bold;
    padding-left: 5px;
}

.footer-col000 .social000 a{
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.274);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: rgb(41, 41, 41);
    transition: 0.6s;
}

.footer-col000 .social000 a:hover{
    background: black;
    color: white;
}

.fpage000{
    width: 100%;
    height: 100%;

}
.fpage000 img{
    width: 100%;
    height: 100vh;
}















@media (max-width:1300px)
{





    .navbar{
        position: absolute;
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: var(--blackT);
        font-size: 2vh;
        margin: 0;
        }

    .themeSwitch{
        display: none;
    }
    
    .logo{
        position: absolute;
        top: 5vh;
        left:0;
        text-align: center;
        width: 100%;
        color:var(--white);
    }
    
    .icon {
        display: none;
        position: absolute;
        right: 5%;
        color:var(--white);
    }
    
    .navbar ul{
        position: absolute;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2vh;
        top: 14vh;
        left: 50%;
        transform: translateX(-80%);
        display: flex; 
    }
    
    .navbar li{
        font-size: 70%;
    }
    
    .navbar li a{
        transition: 0.5s;
    }
    .navbar li a.active,
    .navbar li a:hover{
        background: var(--yellow);
        padding: 1vh 2vh;
        border-radius: 30px;
        color: black;
    }




    footer{
        margin-top: 30vh;
    }

    .row000{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5vh;
        text-align: center;
    }

    .footer-col000 h4{
        font-size: 1.2rem;
    }

    .social000{
        display: flex;
        gap: 1vh;
    }

    .social000 a i{
        background: transparent;
    }

    .footer-col000 .social000 a{
        display: inline-block;
        text-decoration: none;
        background: rgba(255, 255, 255, 0);
        margin: 0 10px 10px 0;
        text-align: center;
        line-height: 40px;
        border-radius: 50%;
        color: rgb(41, 41, 41);
        transition: 0.6s;
    }
    
    .footer-col000 .social000 a:hover{
        background: transparent;
        color: white;
    }

    .footer-col000 h4{
        margin-bottom: 4vh;
    }







    .box-p{
        position: relative;
        top:70%;
        transform: translateY(-50%);
        width: 90%;
        margin: 0 auto;
        height: 70vh;
        
    }
    
    .box{
        position: absolute;
        right:3vh;
        height: 50%;
        width: 30%;
        background: rgba(255, 255, 255, 0.144);
        display: flex;
        flex-direction: column;
        font-weight: 1;
        font-size: 1.1rem;
        padding-left: 5vh;
        padding-top: 1.5vh;
    }
    
    .box span:nth-child(1){
        font-weight: 900;
        margin-bottom: 1vh; 
        font-size: 1.9rem;  
    }
    
    .box span:nth-child(2){
        margin-bottom: 5vh;  
    
    }
    
    .box span:nth-child(3){
        font-weight: 900;
        margin-bottom: 1vh; 
        font-size: 1.3rem; 
    }
    
    .list-color{
        display: flex;
    }
    
    .list-color li img{
        margin-top: 2vh;
        margin-right: 1vh;
        width:60px;
        height: 60px;
        border-radius: 50%;
    
    }
    
    .line{
        width: 80%;
        margin:0 auto;
        border:0.2px solid  rgba(92, 92, 92, 0.151);
        margin-top: 3vh;
        margin-bottom: 3vh;
    
    }
    
    .size-text{
            font-weight: 50;
            font-size: 1rem;  
    }
    
    .list-size{
        margin-top: 2vh;
        display: flex;
    }
    
    
    
    .list-size li {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1vh;
        width:50px;
        height: 50px;
        border-radius: 50%;
        background: rgba(196, 196, 196, 0);
        color: rgb(0, 0, 0);
        transition: 0.4s;
    }
    
    .list-size li:hover{
        background: rgba(0, 237, 245, 0.514);
        transform: translateY(-10px);
    }
    
    .btn a {
            text-decoration: none;
            color: white;
    }
    
    .btn:hover a{
        color: black;
        
    }
    .btn{
    
        background: black;
        font-size: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 6vh;
        padding: 2vh ;
        text-align: center;
        width: 80%;
        margin-top: 4vh;
        margin-left: 3vh;
        transition: 0.5s;
    }
    
    .btn:hover{
        background: rgba(0, 237, 245, 0.514);
    }
    
    
    .text{
        margin-top: 2.5vh;
        color: black;
    }
    
    .text div{
        margin-bottom: 2vh;
    }
    
    .text div i {
        margin-right: 2vh;
    }
    
    
    .bundle .image1{
        position: absolute;
        height:100%;
        width: 66%;
        display: flex;
        flex-direction: column;
        font-weight: 1;
        padding-left: 1vh;
    }
    
    .bundle .image2{
        width: 0%;
    }
    
    .bundle:before{
        content: '\f060';
        font-family: fontawesome;
        position: absolute;
        top:50%;
        left:-2.5vh;
        transform: translateY(-50%);
        background: rgba(0, 0, 0, 0.089);
        height: 7vh;
        width: 7vh;
        z-index: 99;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(1, 131, 131);
    }
    
    .bundle:after{
        content: '\f061';
        font-family: fontawesome;
        position: absolute;
        top:50%;
        transform: translateY(-50%);
        right:30%;
        background: rgba(0, 0, 0, 0.089);
        height: 7vh;
        width: 7vh;
        z-index: 99;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: rgb(1, 131, 131);
    }
    
    .bundle:hover{
        background: chartreuse;
    }
    
    
    .bundle img:nth-child(1){
        object-fit: cover;
        height: 100%;
        width: 100%;
    
    }
    
    
    
    
    
    
    
    
    
    
    
    
    
    .icone55 li{
        display: none;
        width: 0;
        height: 0;
    }

    .text55 p{
        display: none;
        width: 0;
        font-size: 0rem;
    }
    
    
    
    
    
    
    
    
    
    .container44{

        display: none;
    }
    
    
    

    
    
    
    
    .container55{
        position: relative;
        width: 0%;
        height: 0;
        margin: 0 auto;
        background: rgba(255, 0, 0, 0.048);
        display: none;
    }
    
    .text55{
        position: absolute;
        right: 0;
        width: 60%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
    }
    
    .icone55{
        position: absolute;
        left: 0;
        width: 40%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2rem;
    
    }
    
    .icone55 ul{
        display: flex;
        gap: 5vh;
    
    }
    
    .icone55 img{
        margin-bottom: 1vh;
        transition: 0.5s;
    }
    .icone55 span{
        height: 5%;
        width: 5%;
        border-radius: 30px;
        padding: 0.3vh 0.6vh;
        border:1px solid rgb(255, 24, 24);
        font-weight: 900;
        font-size: 1.2rem;
        
    }
    
    .icone55 img:hover{
        transform: scale(1.3);
        background: rgba(0, 255, 255, 0.185);
        border-radius: 30px;
    }
    
    
    
    
    
    
    
    .container66{
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 15vh;
        height: 400vh;
        width: 70%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card55{
        width: 90%;
        height: 90%;
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .card55 img{
        position: absolute;
        width: 100%;
        height: auto;
        transition: 0.3s;
        border-radius: 30px;
    }
    
    .card55 img:hover{
        transform:scale(1.05);
        transform:translateY(-10px);
        box-shadow: 0px 0px 20px 20px rgba(0, 0, 0, 0.192);
    }
    
    
    .card55 p{
        position: relative;
        width: 50%;
        margin: auto;
        text-align: center;
        top: 45vh;
        font-size:1.1rem;
        font-weight: 900;
    }
    
    .card55 span{
        position: relative;
        left:0;
        top: 0vh;
        font-size:1.1rem;
        font-weight: 900;
    }
    
}
